# faiss_cpu==1.8.0.post1
# groq==0.9.0
# langchain==0.2.11
# sentence_transformers==3.0.1
# streamlit==1.36.0
# streamlit
# pickle-mixin
# faiss-cpu
# sentence-transformers
# langchain
# langchain-community
# angchain==0.0.284
# python-dotenv==1.0.0
# streamlit==1.22.0
# unstructured==0.9.2
# tiktoken==0.4.0
# faiss-cpu==1.7.4
# libmagic==1.0
# python-magic==0.4.27
# python-magic-bin==0.4.14

streamlit==1.22.0
pickle-mixin
faiss-cpu==1.8.0.post1
sentence-transformers==3.0.1
langchain==0.2.11
langchain-community
python-dotenv==1.0.0
unstructured==0.9.2
tiktoken==0.4.0
libmagic==1.0
python-magic==0.4.27
python-magic-bin==0.4.14
groq==0.9.0
requests
beautifulsoup4
tiktoken==0.3.3